@model BasketVM
@{
    ViewData["Title"] = "Basket";
}

@*<div class="container">
    @foreach (var el in Model.basket.ListItemsInBasket)
    {
        <div class="alert alert-warning mt-3">
            <div class="col-lg-4">
                <img src="@el.Product.Img" alt="@el.Product.Name" />
            </div>
            <div class="col-lg-4 text-center">
                <b>Одежда: </b> @el.Product.Name <br />
                <b>Цена: </b> @el.Product.Price.ToString("c") <br />
            </div>
        </div>
    }
    <hr />
    <div class="row text-center"><a class="btn btn-danger" asp-controller="Order" asp-action="Index">Оплатить</a></div>
</div>*@

<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Корзина</h1>
                                    </div>
                                    <hr class="my-4">
                                    @{
                                        double sum = 0;
                                        foreach (var el in Model.basket.ListItemsInBasket)
                                        {
                                            sum += el.Product.Price;
                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="@el.Product.Img"
                                                     class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-muted">@el.Product.Name</h6>
                                                    @*<h6 class="text-black mb-0">Cotton T-shirt</h6>*@
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                    <input id="form1" min="0" name="quantity" value="@el.Quantity" type="number"
                                                       class="form-control form-control-sm" />
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0">@el.Quantity * @el.Product.Price</h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                                </div>
                                            </div>
                                            <hr class="my-4">
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Сводка по корзине</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">Товаров в корзине: @Model.basket.ListItemsInBasket.Count</h5>
                                        <h5></h5>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Код</h5>

                                    <div class="mb-5">
                                        <div class="form-outline">
                                            <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea2">Введите код</label>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between">
                                        <h5 class="text-uppercase">Окончательная цена</h5>
                                    </div>
                                    <div class="d-flex justify-content-between mb-5">
                                        <h5>@sum.ToString("c")</h5>
                                    </div>

                                    <button type="button" class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark">
                                        Оплатить
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>